:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.footerContents {
  display: flex;
  flex-direction: row;
}

.products{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.usefulLinks{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.contact{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.socialIcons{
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.socialIconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leftSideFooter{
  display: flex;
  flex-direction: row;
}

.footerMap{
  display: flex;
}

.footer{
  background-color: rgb(250, 250, 250);
}
